<!DOCTYPE html>
<html>
    <head>
    <title>Learning it</title>
    <link rel="stylesheet" href="bower_component/bootstrap/dist/css/bootstrap.min.css">
        <style>
        table, th , td  {
          border: 1px #D3D3D3;
          border-collapse: collapse;
          padding: 5px;
        }
        table tr:nth-child(odd) {
          background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
          background-color: #ffffff;
        }
        </style>
    </head>
  <body ng-app="app">
  <table>
   <td>   <p>Input something in the input box:</p></td>
   <td> <p>Name : <input type="text" ng-model="firstName"placeholder="Enter name here"></p></td>
<tr><td>    <h1>Hello {{firstName}}</h1></td></tr>
</table>

    <div class='containter' ng-controller='ContactsController'>
      <div class='row'>
        <div class='col-md-6'>


                <contact></contact>

        </div><!--col-md-6-->
      </div><!--class-->
  </div><!--container-->



  <script src="bower_components/angularjs/angular.min.js"></script>
      <script>
            (function(){
                'use strict';
                angular.module('app', [])
                    .controller('ContactsController', function($scope){
                        $scope.contact = {
                            'firstName': 'Deanna',
                            'lastName': 'Riddlespur',
                            'added': new Date()

                        };

                    })
                    .filter('upperCase', function(){
                        return function(input, extraArgument){
                            console.log(extraArgument);
                            return input.toUpperCase();

                        };
                    })
                    .directive('firstName', function(){
                        return{
                            restrict: 'E',
                            template: '<p>{{ contact.firstName  }}</p>'
                        };
                    })
                    .directive('lastName', function(){
                        return {
                            restrict: 'E',
                            template: '<p>{{ contact.lastName  }}</p>'
                        }
                    })
                    .directive('added', function(){
                        return {
                            restrict: 'E',
                            template: '<p>{{ contact.added }}</p>'

                        }
                    })
                    .directive('contact', function(){
                        return{
                            restrict:'E',
                            template: '<first-name></first-name><last-name></last-name><added></added>'
                        }
                    })

            })();
      </script>
      <div data-ng-app="" data-ng-init="quantity=1;price=5">
<table>
<thead><h2>Cost Calculator</h2></thead>

<tr><td>Quantity: <input type="number" ng-model="quantity"></td></tr>
<tr><td>Price: <input type="number" ng-model="price"></td></tr>

<tr><td><p><b>Total in dollar:</b> {{quantity * price}}</p></td></tr>
</table>

</div>
  </body>
</html>
